
/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand, h4,
    .site-main .services-area,
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .project-area .button-group button + button{
        padding-left: 0.5rem;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

    .stack{
        font: normal 18px/ 30px var(--roboto);
    }

}

@media only screen and (max-width: 432px){
  .stack-style {
     font-size: 0.8rem;
     padding: .2rem;
   }
}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main > .services-area .services {
       padding: 3rem 1rem;
       width: auto;
       margin-bottom: 2rem;
    }

    .flip-card {
       height: 318px; 
    }
    
    .stack{
        font: normal bold 20px/ 30px var(--roboto);
        margin-top: 1.5rem;
    }

    .header_area .main-menu .navbar .navbar-brand{
        padding: 0;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .project-area .button-group button + button{
        padding-left: 1rem;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    form {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    footer.footer-area {
        padding: 4rem 0;
    }

    .site-main .services-area{
        padding:2%;
        margin: 0;
    }

    .site-main .site-banner .site-title h4{
       font-size: 1.2rem !important;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .site-main .site-banner .site-title h4{
  font-size: 1.5rem;
}
    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}