/* import fonts from fonts.css file */
@import url(./fonts.css);

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */ 

:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
   

    /* font family variables. */ 
    --roboto: 'Roboto', cursive;
} 

/* Scroll bar */

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.progress-container {
  height: .3rem;
  background: white;
}

.progress-bar {
  height: .3rem;
  background: var(--gradient-color);
  width: 0%;
}

/* start navigation */ 


.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
  padding: 1rem 20rem ;
}

.logo {
  height: 50px;
}

.header_area .main-menu .nav-item .nav-link,
.site-main .skill-area .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a,
.site-main .skill-area .nav-pills .active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover,
.site-main .skill-area .nav-pills a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */ 

.anim {
  margin: 0;
  font-size: 4em;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1); 
}

.anim span {
  transform: scale(0.9);
  display: inline-block;
}

.anim span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
.anim span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

.site-main .site-banner .site-title h3 {
  padding-top: 25%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
  content: " ";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
  font-size: 5rem;
}

.site-main .site-banner .banner-image > img{
  padding: 7rem 0;
  width: 90rem;
}

/* Start About Area */ 

.site-main .about-area{
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
  padding: .4rem 0;
}


/* skill Area */

.site-main .skill-area .tab-content .tab-pane {
  padding: 1rem;
  text-align: center;
}

/* Project Area */ 

.site-main .project-area{
  padding: 4rem 0;
}

.site-main .project-area .button-group button{
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project > .title span a {
  color: var(--text-color);
}

.site-main .project-area .grid .our-project > .title span a:hover {
  transition: all .7s ease-in-out;
  color: var(--title-color);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* Services Area */ 

.site-main .services-area {
  padding: 0 2rem 2rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* About Me */ 

.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* Contact me */

/* Footer Area */ 

footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size:22px;
  padding: 2rem;
  color: var(--text-color);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}



/* Global Classes */ 

.title-text{
    font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */ 

.button,
.soco{ 
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
}

.button {
  padding: .8rem 2.2rem;
  border-radius: 4px;
  width: 11rem;
}

.button.primary-button,
.soco.primary-soco{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover,
.soco.primary-soco:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button,
.soco.secondary-soco{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover,
.soco.secondary-soco:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

.soco{
    padding: .6rem;
    margin-right: .5rem;
    border-radius: 50%;
}

.soco.primary-soco::after, .soco.secondary-soco::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 10px;
}


/* project flip card */

.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: var(--box-shadow);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
}

.fo {
  font-size: 2rem;
}

.stack-style {
  padding: .5rem;
  background-color: #b5b5b3;
  border-radius: 2rem;
}